<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt>Ratings</dt>
          <dd>
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>Rating</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <% @ratings.each do |rating| %>
                    <td>
                      <%= rating.rating %>
                    </td>
                    <td>
                      <%= rating.description %>
                    </td>
                    <% if (current_user) %>
                        <% if (rating.user_id == current_user.id) %>
                            <td>
                              <%= link_to 'Destroy', '/products/' + @product.id.to_s + '/reviews/' + rating.id.to_s, action: 'destroy', id: rating.id, method: :delete %>
                            </td>
                        <% end %>
                    <% end %>
                    </tr>
                <% end %>
                </tbody>
            </table>
          </dd>
        </dl>
      </div>
    </div>
    <% if current_user %>
        <%= form_for @product, url: '/products/'+ @product.id.to_s + '/reviews', method: 'POST' do |f| %>
            <%= f.fields_for :ratings do |rating| %>
                Rating: <%= rating.select :rating, options_for_select([1, 2, 3, 4, 5]) %>
                <br/>
                <br/>
                Description: <%= rating.text_field :description %>
                <%= rating.submit "Submit Review" %>
            <% end %>
        <% end %>
    <% end %>
  </article>

</section>`
